<!--<app-task-item *ngFor="let taski of tasks" [task]="taski"></app-task-item>-->
<app-add-task></app-add-task>
<table class="table table-dark table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Is completed</th>
            <th>Icon</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let task of tasks" (dblclick)="onToggle(task)">
            <td [ngClass]="{completed : task.completed}" class="task">{{task.id}}</td>
            <td>{{task.title}}</td>
            <td>{{task.completed}}</td>
            <td><fa-icon (click)="onDelete(task.id)" [icon]="faCalendar" [ngStyle]="{'color':'red'}"></fa-icon></td>
        </tr>
    </tbody>
</table>